
.ml-1{
    margin-left:  5%;
}

.mt-1{
    margin-top: .25%;
}

.mb-1{
  margin-bottom: 1.25rem;
}

.p-1{
  padding: 1rem;
}

.w-100{
  width: 100%;
}

body{
    background-color: #f3f5f9;
 }

.blur{
  opacity: 0.5;
  filter: blur(10px);
}

.blur:hover{
  opacity:1;
  filter: blur(0px);
}

.sidebar{
  width: 100%;
  background: #99738E;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 200px solid #99738E;
  color:lightgray;;
}

.center{
  text-align: center;
}

.btn{
  background-color: #99738E;
  width: 100%;
  min-height: 25px;
  margin-bottom: 1px;
  border-bottom: 1px solid  rgb(95, 72, 89);
  align-items:flex-start;
  align-content: center;
  padding: 1rem;
  cursor: pointer;
}

.btn:hover{
    background-color: rgb(173, 126, 160);
    color: #fff;
  }


.card{
    border: 1px solid rgba(0,0,0,.125);
    padding: 1.25rem;
    border-radius: 0.25rem;
    margin-bottom: 10px;
  }

.card a{
  font-size: 1.5rem;
}

.form-control{
  width:100%;
}